*{
    font-family: 'Unbounded', cursive;
    box-sizing: border-box;
    height: auto;
     
}

body{
    margin: 0;
}

.header
{
    overflow: hidden;
    background-color: black;
    padding: 30px;
}

.header h1
{
    text-align: center;
    color: rgb(68, 255, 0);
}

.example
{
    opacity: 50%;
}

#currency
{
    font-weight: bold;
    border-radius: 25px;
    height: 30px;
    width: 500px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

#amt
{
    font-weight: bold;
    border-radius: 25px;
    height: 30px;
    width: 500px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

#from
{
    font-weight: bold;
    border-radius: 25px;
    height: 30px;
    width: 500px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

#submitbtn
{
    margin: 0 auto;
    display: inline-block;
    border-radius: 4px;
    background-image: linear-gradient(to right, #CAEFD7 0%, #F5BFD7  50%, #ABC9E9  100%);
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: none;
    max-width: 200px;
    border-radius: 10px;
    position: relative;
    margin: 10px;
    text-align: center;
    background-size: 200% auto;            
    box-shadow: 0 0 20px #eee;
}

#submitbtn:hover 
{
   background-position: right center; /* change the direction of the change here */
   color: rgb(0, 0, 0);
   text-decoration: none;
}

#result
{
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin: auto;
    width: 100%;
    text-decoration-line: underline;
}

